.container-fluid {
    padding: 0;
}
nav .brand-logo {
    margin-left: 10px;
    font-weight: 300;
    text-transform: uppercase;
}
.card-title {
    text-shadow: 0 2px 2px #343232;
    font-size: 2.2em;
}
a:hover {
    text-decoration: none;
    color: #fff;
}
.logo img {
    width: 75px;
    padding-top: 16px;
    padding-left: 21px;
}
.card .card-action {
    padding: 2px;
}
.action-section {
    margin-top: 20px;
}
.displayName {
    font-weight: bold;
}
.followers {
    font-size: .9em;
}
