nav .brand-logo {
    margin-left: 12px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2.5em;
}

#dead-widget .card-title {
    text-shadow: 0 2px 2px #343232;
    font-size: 2.2em;
}

#dead-widget .logo img {
    width: 100px;
    padding: 13px;
}
#dead-widget .card .card-action {
    padding: 2px;
}

#dead-widget .card-content h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 300;
}
#dead-widget .card-content p {
    color: #666;
}

#dead-widget .action-section {
    margin-top: 20px;
}
#dead-widget .displayName {
    font-size: 1.3em;
    color: #1e88e5;
}

#dead-widget .followers i {
    vertical-align: middle;
    height: 26px;
    font-size: 19px;
}

#dead-widget .followers {
    font-size: .9em;
    color: #fff;
    padding: 5px 1px 1px 5px;
}
#dead-widget .followers span {
    line-height: 30px;
    margin-right: 40px;

}
#dead-widget i.left {
    margin-right: 10px;
}
